<%-include('../include/adminheader.ejs')-%>

  <body style="width: 100%; height:100%">
    
    <nav class="navbar navbar-expand-lg navbackground mb-5">
      <div class="container-fluid ">
        <a class="navbar-brand" href="/admin">Admin </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin">dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/orders">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/products">Products</a>
            </li>
            <li class="nav-item">
              <a href="/admin/usermanagement" class="nav-link ">Users</a>
            </li>
            <li class="nav-item">
              <a href="/admin/category" class="nav-link ">Category</a>
            </li>
            <li class="nav-item">
              <a href="/admin/logout" class="nav-link ">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <section>
      
      <div class="container" style="width: 100%; height: 100%;">
        <div class="row  " >
          <div class="d-flex  justify-content-between">
            <div class="col-sm-6 col-xl-4">
              <div class="\ bg-light rounded d-flex align-items-center justify-content-between p-4">
                  <i class="fa fa-chart-line fa-3x text-primary"></i>
                  <div class="ms-3">
                      <p class="mb-2">Today Sale</p>
                      <h6 class="mb-0"><%=total%>Rs</h6>
                  </div>
              </div>
          </div>
              <div class="col-sm-6 col-xl-4">
                <div class="\  bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-line fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Today Sale</p>
                        <h6 class="mb-0">$1234</h6>
                    </div>
                </div>
            </div>
          
          </div>
         
          <div class="d-lg-flex justify-content-between">
          <div class=" rounded h-100  col-lg-5">
            <h6 class="mb-1">Single Line Chart</h6>
            <canvas id="line-chart" width="400" height="400"></canvas>
        </div>
        <div class=" rounded h-100 col-lg-5">
          <h6 class="mb-1">Single Line Chart</h6>
          <canvas id="myChart" width="400" height="400"></canvas>
      </div>
      </div>

        </div>
      </div>
    </section>

    <%console.log(OrdersDateandAmount[0]._id)%>
    
<!-- 
    <section>
      <div class="container-fluid  mt-3"  style="width: 400px; height: 400px;">
        <div class="col-sm-12 col-xl-6">
          <div class="bg-light rounded h-100 p-4">
              <h6 class="mb-4">Single Line Chart</h6>
              <canvas id="line-chart" width="400" height="400"></canvas>
          </div>
      </div>
        <canvas id="myChart" width="400" height="400"></canvas> -->
        <script>
           '  <%for(let i=0;i < OrdersDateandAmount.length;i++){%>'
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [100],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

           // Single Line Chart
    var ctx3 = $("#line-chart").get(0).getContext("2d");
    var myChart3 = new Chart(ctx3, {
        type: "line",
        data: {
            labels: "<%=OrdersDateandAmount[i]._id%>",
            datasets: [{
                label: "Orders this month",
                fill: false,
                backgroundColor: "rgba(0, 156, 255, .3)",
                data: "<%=OrdersDateandAmount[i].total%>"
                
            }]
        },
        options: {
            responsive: true
        }
    });
   ' <%}%>'

        </script>

<%-include('../include/adminresfooter.ejs')-%>