<%-include('../include/adminheader.ejs')-%>

  <body>
    
    <nav class="navbar navbar-expand-lg navbackground mb-5">
      <div class="container-fluid ">
        <a class="navbar-brand" href="/admin">Admin </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
         
              <a class="nav-link" href="/admin/orders">Orders</a>
            </li>
  
            <li class="nav-item">
              <a href="/admin/logout" class="nav-link ">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    
    <section  class="h-100 mt-4  ">
      <h2 class="text-center">Ordered Products</h2>
    
      <div class="container  table-responsive">
        <table class="table shadow text-center ">
          <thead class="table-dark">
            <tr>
              <th scope="col">Product Image</th>
              <th scope="col">Product Name</th>
              <th scope="col"> Product description</th>
              <th scope="col">Product Price</th>
              <th scope="col"> Product quantity</th>

            </tr>
          </thead>
          <tbody class="searchable ">
            <%if(message){%>
              <%=message.message%>
              <%}%>
            <%for(let i=0;i < orderdItems.length;i++){%>
            <tr>
              <td><img src="/<%=orderdItems[i].product.image[0]%>" width="100px"  height="100px" class="img-fluid" alt="<%=orderdItems[i].product.product_name%>"></td>
              <td class=""><%=orderdItems[i].product.product_name%></td>
              <td><%=orderdItems[i].product.desc%></td>
              <td><%=orderdItems[i].product.price%></td>
              <td><%=orderdItems[i].quantity%></td>
          
            </tr>
            <%}%>
        
          </tbody>
        </table>
      </div>
    </section>



 


<%-include('../include/adminresfooter.ejs')-%>