<!DOCTYPE html>
<html lang="en">
  <head>
    <title>menz store</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />

    <script src="https://www.paypal.com/sdk/js?client-id=AW5XHGQa4tPDFs9-1iGsvoMrpYQNdfK-cfPrm49btpIiGPQTXgC1MzrD-GCi1AxB_TnZCzQwSskgefJ-&currency=USD"></script>    
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />

    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/aos.css" />

    <link rel="stylesheet" href="/css/ionicons.min.css" />

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/css/jquery.timepicker.css" />

    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/icomoon.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <style>

      /* to display button according to radio */
      .clr{
        display:none ;
      }
    
      .disbtn{

        display: block;

      }
    </style>
  </head>

  <body class="goto-here">
    <div class="py-1 bg-black">
      <div class="container">
        <div
          class="row no-gutters d-flex align-items-start align-items-center px-md-0"
        >
          <div class="col-lg-12 d-block">
            <div class="row d-flex">
              <div class="col-md pr-4 d-flex topper align-items-center">
                <div
                  class="icon mr-2 d-flex justify-content-center align-items-center"
                >
                  <span class="icon-phone2"></span>
                </div>
                <span class="text">+91 7560809706</span>
              </div>
              <div class="col-md pr-4 d-flex topper align-items-center">
                <div
                  class="icon mr-2 d-flex justify-content-center align-items-center"
                >
                  <span class="icon-paper-plane"></span>
                </div>
                <span class="text">muktharmanf28@gmail.com</span>
              </div>
              <div
                class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right"
              >
                <span class="text"
                  >3-5 Business days delivery &amp; Free Returns</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="/">menz store </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="/" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
              <a href="/users/shop" class="nav-link">shop</a>
            </li>
            <%if(locals.isuser){%>
            <li class="nav-item">
              <a href="/users/logout" class="nav-link">Log out</a>
            </li>
            <%}else{%>
            <li class="nav-item">
              <a href="/users/signup" class="nav-link">sign up</a>
            </li>
            <li class="nav-item">
              <a href="/users/login" class="nav-link">Login</a>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 ftco-animate">
            <!-- Pills navs -->
            <ul
              class="nav nav-pills nav-justified mb-3"
              id="ex1"
              role="tablist"
            >
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  id="tab-login"
                  data-mdb-toggle="pill"
                  href="#pills-login"
                  role="tab"
                  aria-controls="pills-login"
                  aria-selected="true"
                  >Saved address</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="tab-register"
                  data-mdb-toggle="pill"
                  href="#pills-register"
                  role="tab"
                  aria-controls="pills-register"
                  aria-selected="false"
                  >New address</a
                >
              </li>
            </ul>
            <!-- Pills navs -->

            <!-- Pills content -->
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="pills-login"
                role="tabpanel"
                aria-labelledby="tab-login"
              >
                <form
                  action=""
                  id="checkout-saveaddress-form"
                  class="checkout-form"
                >
                  <h3 class="mb-4 billing-heading">checkout-form</h3>
                  <div class="row align-items-end">
              

                    <div class="w-100"></div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="phone">Phone</label>
                        <input
                          type="text"
                          name="phone"
                          class="form-control"
                          value="<%=userdetails.phone%>"
                          placeholder="phone"
                        />
                        <input
                          type="text"
                          name="userId"
                          value="<%=userId%>"
                          hidden
                          class="form-control"
                          placeholder=""
                        />
                      </div>
                    </div>
                   
                    <div class="w-100"></div>
                  </div>

                  <div class="col-md-10 d-flex mt-5">
                    <div>
                      <h5 class="mb-4" style="font-weight: bold">
                        Saved Address
                      </h5>

                      <% if(savedAddress.length){%> <%for (let i=0;i <
                      savedAddress.length;i++){%>

                      <div class="form-check col-md-6 py-2">
                        <% const saved = JSON.stringify(savedAddress[i])%>

                        <input
                          class="form-check-input"
                          type="radio"
                          value="<%=saved%>"
                          name="savedAddress"
                          id="flexRadioDefault<%=i%>"
                        />
                        <label
                          class="form-check-label"
                          for="flexRadioDefault<%=i%>"
                        >
                          <%=savedAddress[i].address1%>
                        </label>
                      </div>

                      <%}%> <%}else{%>
                      <p class="d-flex total-price">
                        <span lass="col-12">saved address is empty</span>
                      </p>
                      <%}%>
                    </div>
                  </div>

                  <div class="row mt-5 pt-3 d-flex">
                    <div class="col-md-6 d-flex">
                      <div class="cart-detail cart-total bg-light p-3 p-md-4">
                        <h3 class="billing-heading mb-4">Cart Total</h3>
                        <hr />
                        <p class="d-flex total-price">
                          <span>Total</span>
                          <span>$<%=total%></span>
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="cart-detail bg-light p-3 p-md-4">
                        <h3 class="billing-heading mb-4">Payment Method</h3>
                        <div class="form-group">
                          <div class="col-md-12">
                            <div class="radio">
                              <label
                                ><input
                                  type="radio"
                                  value="cod"
                                  name="paymentmethod"
                                  class="mr-2",
                                  id="cod-radio"
                                onclick="displaycheckout()"
                                />
                                Cash on delivery</label
                              >
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <div class="radio">
                              <label
                                ><input
                                  type="radio"
                                  value="RazorPay"
                                  name="paymentmethod"
                                  class="mr-2"
                                  id="razorpay-radio"
                                  onclick="displaycheckout()"  
                                />
                           
                               RazorPay</label
                              >
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-12">
                            <div class="radio">
                              <label
                              ><input
                              id="paypal-radio"
                                type="radio"
                                value="paypal"
                                name="paymentmethod"
                                class="mr-2"
                                onclick="displaypaypal()"
                              />
                             Paypal</label>
                            </div>
                          </div>
                        </div>
                
                        <div class="clr" id="checkout-button">
                        <button type="submit" id="checkoutbtn"  class=" btn btn-primary py-3 px-4 ">
                          Place an order
                        </button>
                      </div>
                        <div id="paypal-button-container" class="clr"  style=" margin-top: 1rem;"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div
                class="tab-pane fade"
                id="pills-register"
                role="tabpanel"
                aria-labelledby="tab-register"
              >
                <form action="/users/checkoutsaveaddress" method="post" class=" ">
                  
                    <h3 class="mb-4 billing-heading">User  Profile</h3>
                  <div class="form-group">
                    
                    
                            <div class="w-100"></div>
                           
                            <div class="row align-items-end">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="streetaddress">Street Address</label>
                                <input type="text" class="form-control" name="address1" required placeholder="House number and building name">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <input type="text" class="form-control" name="address2" required placeholder="Road name, Area, Colony etc" >
                              </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="towncity">Town / City</label>
                                <input type="text " name="town" required class="form-control" placeholder="town">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="postcodezip">Postcode / ZIP *</label>
                                <input type="number" name="postcode" required class="form-control" placeholder="postcode">
                              </div>
                            </div>
                            <div class="w-100"></div>
                      <div class="col-xl-8 ftco-animate">
                        <button  type="submit"  class="btn btn-primary mt-5 py-3  px-4">save details </button>
                        
                       </div>
                          
                      
                    
                        <!-- END -->
            
            
            
                  </form>
              </div>
            </div>
            <!-- Pills content -->
          </div>
          <!-- .col-md-8 -->
        </div>
      </div>
    </section>
    <!-- .section -->

    <footer class="ftco-footer bg-light ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">menz store</h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia.
              </p>
              <ul
                class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
              >
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Shop</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Journal</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
                <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                  <li>
                    <a href="#" class="py-2 d-block">Shipping Information</a>
                  </li>
                  <li>
                    <a href="#" class="py-2 d-block">Returns &amp; Exchange</a>
                  </li>
                  <li>
                    <a href="#" class="py-2 d-block">Terms &amp; Conditions</a>
                  </li>
                  <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                </ul>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-2 d-block">FAQs</a></li>
                  <li><a href="#" class="py-2 d-block">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li>
                    <span class="icon icon-map-marker"></span
                    ><span class="text"
                      >203 Fake St. Mountain View, San Francisco, California,
                      USA</span
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-phone"></span
                      ><span class="text">+2 392 3929 210</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-envelope"></span
                      ><span class="text">info@yourdomain.com</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="icon-heart color-danger" aria-hidden="true"></i> by
              <a href="#" target="_blank">Mukthar</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle
          class="path-bg"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke="#eeeeee"
        />     
        <circle
          class="path"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke="#F96D00"
        />
      </svg>
    </div>
    
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/js/paypal-pay.js"></script>
    

    <script>

      function  displaycheckout(){

     let list1=   document.getElementById("checkout-button").classList
     let list2 = document.getElementById("paypal-button-container").classList;
     list1.add('disbtn')
     list2.remove('disbtn')
      }

      function  displaypaypal(){
let list1=   document.getElementById("checkout-button").classList
let list2 = document.getElementById("paypal-button-container").classList;
list1.remove('disbtn')
list2.add('disbtn')

 }











      $("#checkout-form").submit((e) => {
        e.preventDefault();
        $.ajax({
          url: "/users/place-order",
          method: "post",
          data: $("#checkout-form").serialize(),
          success: (res) => {
            if (res.codSuccess) {
              location.href = "/users/orderplaced";
            } else {
              razorpayPayment(res);
            }
          },
        });
      });


      $("#checkout-saveaddress-form").submit((e) => {
        e.preventDefault();
        $.ajax({
          url: "/users/place-order",
          method: "post",
          data: $("#checkout-saveaddress-form").serialize(),
          success: (res) => {
            if (res.codSuccess) {
              console.log(res.codSuccess);
              location.href = "/users/orderplaced";
            }else if(res.paypalSuccess) {
              console.log(res.paypalSuccess,'transaction completed successfully using paypal');
              location.href = "/users/orderplaced";
            } else {
              razorpayPayment(res);
            }
          },
        });
      });

      function razorpayPayment(order) {
        var options = {
    "key": "rzp_test_hoOZcN9A4HjtUu", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Menz shop",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        verifyPayment(response,order);
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
}; 
var rzp1 = new Razorpay(options);
rzp1.open();
      }

      function verifyPayment(payment,order){
       console.log(payment)
        $.ajax({
          url:'/users/verifypayment',
          data:{
            payment,
            order
           
          },
          method:'post',
          success:(response=>{
            if(response.status){
              location.href = "/users/orderplaced";
            }else{
              alert('payment failed')
            }
          })

        })
      }



    </script>

    
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"
    ></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/js/google-map.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
