<%-include('../include/userheader.ejs')-%>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">menz store </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="/users" class="nav-link">Home</a></li>
	         
	          <li class="nav-item"><a href="/users/shop" class="nav-link">shop</a></li>
			  <%if(locals.isuser){%>
				<li class="nav-item"><a href="/users/logout" class="nav-link">Log out</a></li>
				<%}else{%>
	          <li class="nav-item"><a href="/users/signup" class="nav-link">sign up</a></li>
	          <li class="nav-item"><a href="/users/login"  class="nav-link">Login</a></li>
			  <%}%>
	         

	        </ul>
	      </div>
	    </div>
	  </nav>

    <section  class="h-100 mt-4  ">
      <h2 class="text-center">Order History</h2>
      <div class="input-group d-flex justify-content-center col-lg-2  mx-auto my-2"> <span class="input-group-addon fw-300">Search Products</span>

        <input id="filter" type="text" class="ml-2 form-control w-auto h-auto" placeholder="Search...">
    </div>
      <div class="container  table-responsive">
        <table class="table shadow  ">
          <thead class="table-dark">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Address</th>
              <th scope="col"> Amount</th>
              <th scope="col">Order Status</th>
              <th scope="col"> Payment Method</th>
              <th scope="col">Products Ordered</th>
              <th scope="col">Cancel Order </th>
          
            </tr>
          </thead>
          <tbody class="searchable">
            <%orders.forEach( function(orders){%>
            <tr>
            
              <td><%=orders.date.toLocaleDateString()%></td>
              <td><%=orders.deliveryDetails.address1%>,<%=orders.deliveryDetails.address2%></td>
              <td><%=orders.totalAmount%></td>
              <td><%=orders.status%></td>
              <td><%=orders.paymentMethod%></td>
              <td>   <a class="btn btn-success my-2" href="/users/orderproducts/<%=orders._id%>">Products</a></td>
              <td>     <%if(orders.status=='cancelled'){%>
               <span class="text-danger">cancelled</span> 
                <%}else{%>

               <a class="btn btn-danger my-2 text-white " onclick="confirm_Delete('<%=orders._id%>')">Cancel</a>
                  <%}%></td>
            </tr>
            <%})%>
        
          </tbody>
        </table>
      </div>
    </section>

    
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function confirm_Delete(id){
      Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete it!'
  }).then((result) => {
    if (result.isConfirmed) {
      $.ajax({
        data:{
				'orderId': id,
			},
      url : '/users/ordercancel/',
        method:'post',
       
        success:(response)=>{
          location.reload()
        }
      })
            
  
    }
  
  })
    }
  </script>

 

  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>
<script >
  $(document).ready(function () {

(function ($) {

    $('#filter').keyup(function () {

        var rex = new RegExp($(this).val(), 'i');
        $('.searchable tr').hide();
        $('.searchable tr').filter(function () {
            return rex.test($(this).text());
        }).show();

    })

}(jQuery));

});
</script>

</body>

 
</html>