<%-include('../include/userheader.ejs')-%>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">menz store </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="/users" class="nav-link">Home</a></li>
	         
	          <li class="nav-item"><a href="/users/shop" class="nav-link">shop</a></li>
			  <%if(locals.isuser){%>
				<li class="nav-item"><a href="/users/logout" class="nav-link">Log out</a></li>
				<%}else{%>
	          <li class="nav-item"><a href="/users/signup" class="nav-link">sign up</a></li>
	          <li class="nav-item"><a href="/users/login"  class="nav-link">Login</a></li>
			  <%}%>
	         

	        </ul>
	      </div>
	    </div>
	  </nav>
   
<style>
    .gradient-custom {
/* fallback for old browsers */
background: #cd9cf2;

/* Chrome 10-25, Safari 5.1-6
background: -webkit-linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1)); */

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
}

</style>


    <div style="min-height: 665px; width:100%;" class="gradient-custom" >

        <section  class="h-100 ">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8">
                  <div class="card" style="border-radius: 10px;">
                    <div class="card-header px-4 py-5">
                      <h5 class="text-muted mb-0">Thanks for your Order, </h5>
                    </div>
                    <div class="card-body p-4">
                     
                    
                      <div class="card shadow-0 border mb-4">
                        <div class="card-body">
                          <%for(let i=0;i < orderdItems.length;i++){%>
                            <div class="row">
                            <div class="col-md-2">
                                <img src="/<%=orderdItems[i].product.image[0]%>"
                                  class="img-fluid" alt="<%=orderdItems[i].product.product_name%>">
                              </div>
                         
                            <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0"><%=orderdItems[i].product.product_name%></p>
                            </div>
                            <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small"><%=orderdItems[i].product.desc%></p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small"><%=orderdItems[i].product.price%></p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                <p class="text-muted mb-0 small"><%=orderdItems[i].quantity%></p>
                              </div>
                            
                          </div>
                          <%}%>
                          
                          </div>
                        </div>
                      </div>
          
                     
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>
    
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>


</body>

 
</html>