<%-include('../include/userheader.ejs')-%>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">menz store </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
	         
	          <li class="nav-item"><a href="/shop" class="nav-link">shop</a></li>
			  <%if(locals.isuser){%>
				<li class="nav-item"><a href="/logout" class="nav-link">Log out</a></li>
				<%}else{%>
	          <li class="nav-item"><a href="/signup" class="nav-link">sign up</a></li>
	          <li class="nav-item"><a href="/login"  class="nav-link">Login</a></li>
			  <%}%>
	         

	        </ul>
	      </div>
	    </div>
	  </nav>

    <section  class= "container h-100 mt-4 mb-5  ">
      <h2 class="text-center">Order History</h2>
    
        <div class="d-flex  justify-content-between mb-2 col-12">
          <form  class="col-12 col-md-6">
            <input  type="text" class="col-8 m-2  " name="search" placeholder="Search...">
            <input type="submit" class="col-auto btn btn-success" value="Search">
          </form>
          
          
        
             
        </div>
      
       
       
        </div>
      <div class="  table-responsive">
        <table class="table shadow  ">
          <thead class="table-dark">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Address</th>
              <th scope="col"> Amount</th>
              <th scope="col">Order Status</th>
              <th scope="col"> Payment Method</th>
              <th scope="col">Products Ordered</th>
             
              <th scope="col"> Order state </th>
            
          
            </tr>
          </thead>
          <tbody class="searchable">
            <%orders.forEach( function(orders){%>
            <tr>
            
              <td><%=orders.date.toLocaleDateString()%></td>
              <td><%=orders.deliveryDetails.address1%>,<%=orders.deliveryDetails.address2%></td>
              <td><%=orders.totalAmount%></td>
              <td><%=orders.status%></td>
              <td><%=orders.paymentMethod%></td>
              <td>   <a class="btn btn-success my-2" href="/orderproducts/<%=orders._id%>">Products</a></td>
              <td>     <%if(orders.status=='cancelled' ){%>
               <span class="text-danger">cancelled</span> 
                <%}else if(orders.status == 'delivered'){%>
                  <span class="text-success">delivered</span> 
                
                
                <%}else{%>

               <a class="btn btn-danger my-2 text-white " onclick="confirm_Delete('<%=orders._id%>')">Cancel</a>
                  <%}%></td>
            </tr>
            <%})%>
        
          </tbody>
        </table>
        
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="text-success page-link disabled" >Page <%=previous+1%></li>
          <%if( previous > 0){%>
          <li class="page-item ">
            <a class="page-link" href="?page=<%=previous%> ">Previous</a>
          </li>
          <%}%>
       
          <li class="page-item" ><a class="page-link sameclass"  href="?page=<%=1%>"><%=1%></a></li>
       
          <li class="page-item" ><a class="page-link sameclass "  > ...</a></li>
     
         
          <li class="page-item"><a class="page-link disabled" href="?page=<%=totalPages-1%>"><%=totalPages-1%></a></li>
          <%if(totalPages > (previous+2)){%>
          <li class="page-item">
            <a class="page-link" href="?page=<%=previous+2%> ">Next</a>
         
          </li>
          <%}%>
         
            
        </ul>
      </nav>
    </section>


    <%-include('../include/userfooter.ejs')-%>
    <script>

    function confirm_Delete(id){
      Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete it!'
  }).then((result) => {
    if (result.isConfirmed) {
      $.ajax({
        data:{
				'orderId': id,
			},
      url : '/ordercancel/',
        method:'post',
       
        success:(response)=>{
          location.reload()
        }
      })
            
  
    }
  
  })
    }
  </script>

 