<%-include('../include/userheader.ejs')-%>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">menz store </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
	         
	          <li class="nav-item"><div class="dropdown nav-link">
				
  <a class=" text-black dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
  categories
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	
	<%categories.forEach(function(categories){%>
		<li><a  class="dropdown-item" href="/category/<%=categories._id%>"><%=categories.categoryname%></a></li>
		
		<%})%>
  </ul>
</div></li>
			  <%if(locals.isuser){%>
				<li class="nav-item"><a href="/userprofile" class="nav-link">Profile</a></li>
				<li class="nav-item"><a href="/orders" class="nav-link">Orders</a></li>
				<li class="nav-item"><a href="/wishlist" class="nav-link">wishlist</a></li>
				<li class="nav-item"><a href="/logout" class="nav-link">Log out</a></li>
				<%}else{%>
	          <li class="nav-item"><a href="/signup" class="nav-link">sign up</a></li>
	          <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
			  <%}%>
			  <%if(cartcount){%>
				<li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span class="icon-shopping_cart"></span>[<%=cartcount%>]</a></li>
				  <%}else{%>	
					  <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
					  <%}%>

	        </ul>
	      </div>
	    </div>
	  </nav>
	  
    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 col-lg-10 order-md-last mx-auto">
    				<div class="row">
						<%products.forEach(function(products){%>
						
		    			<div class="col-sm-6 col-md-6 col-lg-4 ">
		    				<div class="product">
		    					<a href="/productview/<%=products._id%>" class="img-prod"><img class="img-fluid" src="/<%=products.image[0]%>" alt="Colorlib Template">	
		    					</a>
		    					<div class="text py-3 px-3">
		    						<h3><a href="/productview/<%products._id%>"><%=products.product_name%></a></h3>
		    						<div class="d-flex">
								<div class="pricing">										
									<%if(products.price == products.offerprice ){%>
										<p class="price"><span class="price-sale">Rs<%=products.price  %></span></p>
									<%}else{%>
										
										<div class="d-flex">
										<p class="price span px-2"><span class="price-sale"><del>Rs <%=products.price  %></del> </span></p>
		    						<p class="price span"><span class="price-sale">Rs<%=products.offerprice  %></span></p>
								</div>
								
									<%}%>
								

		    					</div>
			    					</div>
			    					<p class="bottom-area d-flex px-lg-3">
		    							<a href="/add-to-cart/<%=products._id%>" class="add-to-cart text-center py-lg-2 mr-lg-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
		    							<a href="/add-to-wishlist/<%=products._id%>" class="buy-now text-center py-2">add to wishlist<span></span></a>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
						<%})%>
		    			
		    		</div>
		    		
		    	</div>

		    	<!-- <div class="col-md-4 col-lg-2 sidebar">
		    		<div class="sidebar-box-2">
		    			<h2 class="heading mb-4"><a href="#">shop By category</a></h2>
		    			<ul>
							<li><a href="/shop">All</a></li>

							<%categories.forEach(function(categories){%>
								<li><a href="/category/<%=categories._id%>"><%=categories.categoryname%></a></li>
								
								<%})%>
				
		    			</ul>
		    		</div>
		    		
    			</div> -->
    		</div>
    	</div>
    </section>

	<%-include('../include/userfooter.ejs')-%>