<%-include('../include/userheader.ejs')-%>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">menz store </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
	         
	          <li class="nav-item"><a href="/shop" class="nav-link">shop</a></li>
			  <%if(locals.isuser){%>
				
				<li class="nav-item"><a href="/logout" class="nav-link">Log out</a></li>
				<%}else{%>
	          <li class="nav-item"><a href="/signup" class="nav-link">sign up</a></li>
	          <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
			  <%}%>
	          
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
 

 

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center ">
			<div class="col-md-10 d-flex  mb-4">
				<div class="cart-detail shadow-sm  text-center p-3 p-md-4">
					<h5 class=" mb-4" style="font-weight: bold;"> Wallet balance: <span class=" text-success">Rs  <%=walletdetails.amount%> </span></h5>	
					<h5 class=" mb-4 " style="font-weight: bold;"> Referralcode</h5>	
					 <!-- The text field -->
<input type="text" value="<%=referalcode%>" disabled id="myInput">
<!-- The button used to copy the text -->
<button class="btn btn-info" onclick="myFunction()">Copy text</button> 		
						  <hr>		 
						  </div>
			</div>
			
          <div class="col-xl-8 ftco-animate">
						<form action="/editprofile" id="userprofile"  method="post" class="billing-form">
							<h3 class="mb-4 billing-heading fw-bold">User  Profile</h3>

	          	<div class="row align-items-end">
	          		<div class="col-md-6">
	                <div class="form-group">
						<%if(message){%>
							<h5 class="text-<%=message.type%>"><%=message.message%></h5> 
							 <%}%>
	                	<label for="name">Name</label>
	                  <input type="text "name="name" style="font-weight: bold;"  value="<%=userdetails.name%>" class="form-control" placeholder="name">
	                </div>
	              </div>
				  <div class="col-md-6">
	                <div class="form-group">
	                	<label for="phone">Phone</label>
	                  <input type="number" name="phone" style="font-weight: bold;" value="<%=userdetails.phone%>"  class="form-control fw" placeholder="phone">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="emailaddress">Email Address</label>
	                  <input type="text" name="email" style="font-weight: bold;" value="<%=userdetails.email%>"  class="form-control" placeholder="email">
					 
	                </div>
                </div>
				<div class="col-md-6">
	                <div class="form-group">
	                	<label for="phone">password</label>
	                  <input type="password" name="password" style="font-weight: bold;"  class="form-control fw" placeholder="enter password">
	                </div>
	              </div>
			</div>
			<button  type="submit"  class="btn btn-primary mt-5 py-3  px-4">Edit User </button>
			</form>
		
			<div class="col-xl-8 ftco-animate">
			
		
			<div class="w-100"></div>
			<div class="col-md-12 my-5">
			 
									 <div class="forgot_password" >
									   <a href="/changepassword" class="mr-3"> change Password</a>
									   
									  
									 </div>
							 
			 </div> 
		 </div>
		
<!-- 		 
		 <%if(message){%>
			<h5 class="text-<%=message.type%>my-5"><%=message.message%></h5> 
			 <%}%>
		  -->
			<form action="/saveaddress" method="post" id="userdetailsaddress" class="billing-form">
				<h3 class="mb-4 billing-heading fw-bold">Add Address</h3>
			<div class="form-group">
				
				
                <div class="w-100"></div>
		           
		          	<div class="row align-items-end">
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="streetaddress">Street Address</label>
	                  <input type="text" class="form-control" name="address1" required placeholder="House number and building name">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                  <input type="text" class="form-control" name="address2" required placeholder="Road name, Area, Colony etc" >
	                </div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="towncity">Town / City</label>
	                  <input type="text " name="town" required class="form-control" placeholder="town">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
		            		<label for="postcodezip">Postcode / ZIP *</label>
	                  <input type="number" name="postcode" required class="form-control" placeholder="postcode">
	                </div>
		            </div>
		            <div class="w-100"></div>
					<div class="col-xl-8 ftco-animate">
						<button  type="submit"  class="btn btn-primary mt-5 py-3  px-4">save Address </button>
						
					 </div>
		          
          
			  
	          <!-- END -->



			</form>
			<div class="w-100"></div>
		
				<div class="col-md-12 d-flex mt-5">
					<div class="cart-detail bg-light p-3 p-md-4">
						<h5 class=" mb-4" style="font-weight: bold;"> Saved Address </h5>
						
							  <hr>
							  <% if(saveaddress.length){%>
								
							
								<div class="  table-responsive">
									<table class="table shadow  ">
									  <thead class="table-dark">
										<tr>
									
										  <th scope="col">Index</th>
										  <th scope="col"> address</th>
										  <th scope="col">Action</th>
										 
									  
										</tr>
									  </thead>
									  <tbody class="searchable">
										<%for (let i=0;i < saveaddress.length;i++){%>
										<tr>
										
										  <td>address <%=i+1%></td>
										  <td><%=saveaddress[i].address1%>,<%=saveaddress[i].address2%>,<%=saveaddress[i].city%>,PO:<%=saveaddress[i].pincode%></td>
										  <td>  <a onclick="confirm_Delete('<%=saveaddress[i]._id%>')"   class="btn btn-danger text-white ">remove</a></td>
										
										</tr>
										  <%}%>
									
									  </tbody>
									</table>
									
								  </div>
							 
							
							  <%}else{%>
								<p class="d-flex total-price">
									<span lass="col-12">saved address is empty</span>	
								</p>
								<%}%>
							  </div>
				</div>
				
			
			
        </div>
      </div>
    </section> 
	<%-include('../include/userfooter.ejs')-%>
   <script src="/js/userdetails.js"></script>
 